<p>
  imp-info works!
</p>
<button type="button" name="button" (click)='getInfoFromServiceClass1()'> Emolyee1</button>
<ul class="list-group">
  <li *ngFor="let info of inforeceived1" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)='getInfoFromServiceClass2()'> Emolyee2</button>
<ul class="list-group">
  <li *ngFor="let info of inforeceived2" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>

<button type="button" name="button" (click)='getInfoFromServiceClass3()'> Emolyee3</button>
<ul class="list-group">
  <li *ngFor="let info of inforeceived3" class="list-group-item">{{info}}</li>
</ul>


